@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, html {
  scroll-behavior: smooth !important;
  scroll-margin: 2rem;
  font-family: 'Roboto', sans-serif;
}

@layer base {
  body {
    @apply bg-[#eeeded] text-[#131212] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#197cd8] to-[#273ea7] text-white hover:shadow-gray-500 ease-in duration-300
  }

  button:enabled {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#197cd8] to-[#273ea7] text-white hover:shadow-gray-500
  }

  button:disabled {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-[#273ea7]/50 text-white
  }

  .navLink {
    @apply ml-10 text-sm text-zinc-800 uppercase hover:scale-110 ease-in duration-200 font-semibold border-zinc-900
  }
}